doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		title= title
		
		// stylesheets
		// bootstrap
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", crossorigin="anonymous")
		// app specific
		link(rel='stylesheet', href='/stylesheets/style.css')
		
		// javascript
		// jQuery (necessary for Bootstrap's JavaScript plugins)
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
		// bootstrap
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
		// custom slide out menu
		script(src="/javascripts/menu.js")
		block scripts
		
	body
		div#header
			div#button
				button#menu(type="button", class="btn btn-default")
					span(class="glyphicon glyphicon-menu-hamburger")
			div#banner
				img#banner(src="/images/banner2.png")
		div#menuContainer
			div#overlay
			div#menu
				if user
					h4 Welcome, #{user.google.name}
				ul
					if user
						li <a href="/user"><span class="glyphicon glyphicon-heart menu-icon"></span>My Workouts</a>
						li <a href="/leaderboard"><span class="glyphicon glyphicon-star menu-icon"></span>Leaderboard</a>
						li <a href="/about"><span class="glyphicon glyphicon-info-sign menu-icon"></span>About</a>
						li <a href='/auth/logout'><span class="glyphicon glyphicon-log-out menu-icon"></span>Sign Out</a>
					else
						li <a href='/auth/google'><span class="glyphicon glyphicon-log-in menu-icon"></span>Sign in with Google</a>
						li <a href="/leaderboard"><span class="glyphicon glyphicon-star menu-icon"></span>Leaderboard</a>
						li <a href="/about"><span class="glyphicon glyphicon-info-sign menu-icon"></span>About</a>
		div(class='container')
			block content