extends layout

block scripts
	script(src="/javascripts/jquery-form.js")
	script(src="/javascripts/bootstrap-filestyle.min.js")
	script(src="/javascripts/index.js")

block content
	div 
		p Welcome to the signin page!	